body{
	font-family: arial;
	font-size: 15px;
	line-height: 1.6cm;
	background-color: #5BB3F0;

}
li{
	list-style: none;

}
a	{
	text-decoration: none;
	
}
.container{
	width: 100%;
	height: 60%;
	margin:0 auto;
	overflow: auto;
}
header{
	border-bottom:3px #f4f4f4 solid;

}


main{
	padding-bottom: 20px;

}
a.start{
	display: inline-block;
	color:black;
	background:#f4f4f4;
	border:1px solid #ccc;
	padding:2px 2px 0 3px;
	font-size:1.55vw;
	outline:none;
	border:none;
	border-radius:2px;
	

}
a.start:hover{
	background-color:#5BB3F0;
	  box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
  transition:0.4s;
}
.current{
	padding: 10px;
	background:#f4f4f4;
	border:1px solid #ccc;
	margin:10px 0 10px;



}
label{
	display:inline-block;
	width:180px;
}
input[type='text']
{
width:97%;
padding:4px;
border-radius: 5px;
border:none;
outline:none;

}
input[type='number']
{
width:50px;
padding:4px;
border-radius: 5px;
border:1px #ccc solid;
}
@media only screen and (max-width:960px)
{
	.container{
		width:80%;
	}
}
table{
   width:50%;
   font-size: 1vw;
   border-collapse: collapse;
   margin: 0 0 0 26%;
   
 
}
th{
	text-align:center;
	vertical-align: bottom;
	height: 70%;
	padding: 0 10px 0 20px;
	background-color: #e9b833;
	color: white;
	text-align: left;
}
td{
font-size: 1vw;
text-align:center;
background-color:whitesmoke;
}
td:hover 
{
	background-color: #e1e2f7;
}

h1{
	text-align: center;
}
tr{
	border: 1px black;
}

a.mg-1{
	color:black;
}
button{
	font-size:20px;
	background-color:#e9b833;
	border:none;
	cursor:pointer;
	text-decoration:none;
	height:40px;
	width:90px;
}
.p-1{
	font-size:1.5vw;
}
input:focus {
  border-color:#FFFF00;
  box-shadow: 0 0 10px 0 #FFFF00;
  outline:none;
  border:none;
}
label{
	font-family:bold;
	font-size:1.4vw;
}
.a2{
	text-align:right;
	cursor:pointer;


}
.a2:hover{
	color:white;
}
.p2{
	font-size:2vw;
}
.container-2{
	margin-left:45%;
}
.p3{
		display: inline-block;
	color:black;
	background:#f4f4f4;
	border:1px solid #ccc;
	padding:2px 2px 0 3px;
	font-size:1.55vw;
	outline:none;
	border:none;
	border-radius:2px;
}
.p3:hover{
	background-color:#5BB3F0;
	  box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
  transition:0.4s;
}
.ft-1{
	text-align:center;
	margin-top:26%;
	font-size:1.2vw;
}
.ft-2{
	text-align:center;
	margin-top:19%;
	font-size:1.2vw;
}
.ft-3{
		text-align:center;
	margin-top:26%;
	font-size:1.2vw;
	
}