
body{
    background-color:	white;
	background-size: cover;
	background-position: center;
	margin: 0;
}
label{
	color:white;
	margin:0;

}
.form-box
{
	width:30vw;
	height:auto;
	background:#a2c6ca;
	margin: 15% auto;
	padding:50px 0;
    margin-bottom:15px;
	border-radius: 1.8vw;
	 top:0;
     bottom:0;
     right:0;
     left:0;
     border:solid 1px #A9A9A9;
	 opacity: 90%;

 }
 .text-box input{
	font-family:bold;
	height:1.5vw;
	width:10vw;
	margin-bottom:20px;
	margin-left: 32%;
	margin-top:2%;
    outline: none;
	border: 2px solid #aaa;
	text-align: center;

}
input:focus {
  border-color:#99e6ff;
  box-shadow: 0 0 8px 0 #99e6ff;
}
.login_user{
	margin-left:37%;
	width: 7vw;
	height:2vw;

	font-size: 1vw;
	font-family:bold;
	margin-top:2%;
	outline:none;
	background:#279DF5;
	color:white;
	border:none;
	

}
.login_user:focus{
	 border-color:#99e6ff;
  box-shadow: 0 0 8px 0 #99e6ff;

}
#user{
	background-image: url(../users.png);
	background-size:18%;
	background-repeat: no-repeat;
	background-position:left ;


	
}
#pass{
	background-image: url(../key.png);
	background-size:15%;
	background-repeat: no-repeat;
	background-position:left;

	



}
.incorrect{
	font-size:3vw;
	color: white;
	margin-left:32%;
	margin-top: 20%;
}
.copy{
	color:black;
	margin-top: 5vw;
	margin-left: 42vw;
	font-weight: bold;
	font-size: 1vw;
	position:absolute;
} 
p{
    	margin-left: 37%; 
		font-size:1.25vw;
		font-weight: bold;
	
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color:#79B1DB;
  }
  
  li {
	float: right;
  }
  
  li a {
	display: block;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-weight: bold;
  }
  
  li a:hover:not(.active) {
	background-color: #5BB3F0;
  }